*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
ul{
    overflow: hidden;
}
li{
    display: inline-block;
}
